.ztree * {padding:0; margin:0; font-size:13px; font-family:'微软雅黑', sans-serif !important}
.ztree li span {line-height:24px; margin-right:2px}
.ztree li a.curSelectedNode {padding-top:0px; background-color:#FFE6B0; color:black; height:24px; border:1px #FFB951 solid; opacity:0.8;}
.ztree li a {padding:1px 3px 0 0; margin:0; cursor:pointer; height:25px; color:#333; background-color: transparent;
    text-decoration:none; vertical-align:top; display: inline-block}
.ztree li a:hover {text-decoration:none}
